{{#partial "content"}}
    <h2>Animals:</h2>
    <form action="/animals/type" method="get">
        <label for="type">Sort by type:</label>
        <select name="type" id="type">
            <option value="all">All</option>
            <option value="cat">Cats</option>
            <option value="dog">Dogs</option>
        </select>
        <button type="submit" class="btn btn-info">Sort</button>
    </form>
    {{#if animals}}
        <ul>
            {{#each animals}}
                <li>{{#if ownerId }}Adopted{{/if}}  {{name}} <a href="/animals/{{id}}">Details</a>  <a href="/animals/{{id}}/delete">Delete</a></li>
            {{/each}}
        </ul>
    {{else}}
        <h4>No animals to display</h4>
    {{/if}}

    <a href="/animals/new">Add an animal</a>

{{/partial}}

{{> layout.hbs}}